Code/
GIMP/
QDirStat/
QtProject.conf
Thunar/
Unknown Organization/
calligrarc
calligrasheetsrc
calligrawordsrc
chromium/
dconf/
emaildefaults
galculator/
google-chrome/
i3status/config
kconf_updaterc
kdebugrc
kdeglobals
libreoffice/
mimeapps.list
neofetch/
okularpartrc
okularrc
pavucontrol.ini
pulse/
qBittorrent/
ristretto/
unity3d/
user-dirs.dirs
user-dirs.locale
vlc/
xfce4/desktop/
xfce4/helpers.rc
xfce4/panel/
xfce4/xfce4-screenshooter
xfce4/xfconf/
zoomus.conf
